<div class="container-fluid">
    <div class="row top" style="margin-bottom: 70px;">
        <h1 class="title">Lets have a <span>chat</span></h1>
        <iframe src="https://giphy.com/embed/RtSfNhYf9dQrvDkgQZ" width="80" height="80" frameBorder="0" class="giphy-embed among__us" allowFullScreen></iframe>
        
    </div>

    <div class="row">

        <div class="box">
            <!-- <h2>Login</h2> -->
            <form>

                <div class="row">
                    <div class="col-md-5 inputBox">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" placeholder="type your name" required/>
                      </div>
                      <div class="col-md-4 inputBox">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="type your email" required/>
                      </div>
                      <div class="col-md-3 inputBox">
                        <label class="pb-2" for="subject">Subject</label>
                        <select class="form-control" id="subject">
                            <option></option>
                            <option>Work proposal</option>
                            <option>Freelance services</option>
                            <option>Mentoring</option>
                          </select>
                      </div>
                </div>

                <div class="row bottom">
                    <div class="col-md-9 inputBox ">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="4" name="message" id="message" placeholder="type your message here" required></textarea>
                    </div>
                    <div class="col-md-3 pt-4 submit__button">
                        <div class="row"><a class="button" [routerLink]="'/register'">Send Message</a></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top: 90px;">
        <h5 class="footer"><span>710 Berg Avenue, Florouna, 0812</span></h5>
    </div>
    <div class="row">
        <h5 class="footer">mashohle1810@gmail.com</h5>
    </div>
    <div class="row">
        <h5 class="footer"><span>(+27)</span> 82 878 2489</h5>
    </div>
</div>
