h1 {
    font-family: "Calistoga";
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
    color: #493323;
  }
  
  span {
      color: rgb(142, 172, 172);
      font-weight: 900;
  }
  
  .title {
    padding: 1rem;
    text-align: center;
  }

  .top {
    justify-content: center;
    margin-bottom: 70px;
  }

  a {
    color: #493323;
  }

  a:hover {
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px;
    color: rgb(142, 172, 172);
    transition: 300ms;
  }

  .item {
    padding-top: 10px;
  }
