<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">Mash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav__container" id="navbarNavAltMarkup" >
      <div class="navbar-nav">
        <a class="nav-item nav-link"  [routerLink]="'/profile'" (click)="onClick(1)" [ngClass]="{'active': tab==='profile'}">Profile</a>
        <a class="nav-item nav-link" [routerLink]="'/about'" (click)="onClick(2)" [ngClass]="{'active': tab==='about'}">About</a>
        <a class="nav-item nav-link" [routerLink]="'/work'" (click)="onClick(3)" [ngClass]="{'active': tab==='work'}">Services</a>
        <a class="nav-item nav-link" [routerLink]="'/resume'" (click)="onClick(4)" [ngClass]="{'active': tab==='resume'}">Resume</a>
        <a class="nav-item nav-link" [routerLink]="'/contact'" (click)="onClick(5)" [ngClass]="{'active': tab==='contact'}">Contact </a>
      </div>
    </div>
  </nav>
