<div class="container-fluid socials">
    <div class="col">
        <div class="row socials__logos">
            <img class="logo" src="../../../assets/linkedIn.png" alt="LinkedIn Profile">
        </div>
        <div class="row socials__logos">
            <img class="logo" src="../../../assets/github.png" alt="LinkedIn Profile">
        </div>
        <div class="row socials__logos">
            <img class="logo" src="../../../assets/twitter.png" alt="LinkedIn Profile">
        </div>
    </div>
</div>
