.socials {
    width: 60px;
    height: 60px;
    padding: 15px;
}

.socials__logo {
    width: 30px;
}

.logos {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
   align-items: flex-end;
   padding-bottom: 3rem;
}

