<div class="container logos">
    <div class="col">
        <div class="socials row">
            <img class="socials__logo" src="../../../assets/linkedIn.png" alt="LinkedIn Profile">
        </div>
        <div class="socials row">
            <img class="socials__logo" src="../../../assets/github.png" alt="LinkedIn Profile">
        </div>
        <div class="socials row">
            <img class="socials__logo" src="../../../assets/twitter.png" alt="LinkedIn Profile">
        </div>
    </div>
</div>
