<div class="container-fluid socials">
    <div class="col">
        <div class="row socials__logos">
            <!-- <img class="logo" src="../../../assets/linkedIn.png" alt="LinkedIn Profile"> -->
            <a href="https://www.linkedin.com/in/mashohle-mangena"><img class="logo" src="../../../assets/linkedIn.png" alt="LinkedIn Profile"></a>
        </div>
        <div class="row socials__logos">
            <!-- <img class="logo" src="../../../assets/github.png" alt="LinkedIn Profile"> -->
            <a href="https://github.com/Mashohle"><img class="logo" src="../../../assets/github.png" alt="Github Profile"></a>
        </div>
        <div class="row socials__logos">
            <!-- <img class="logo" src="../../../assets/twitter.png" alt="LinkedIn Profile"> -->
            <a href="https://twitter.com/MashohleM"><img class="logo" src="../../../assets/twitter.png" alt="Twitter Profile"></a>
        </div>
    </div>
</div>
    