h1 {
  font-family: "Calistoga";
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
  color: #493323;
}

span {
  color: rgb(142, 172, 172);
}

.margin__intro {
  margin: 5rem 0;
  margin-right: 6rem;
}

.margin__work {
  margin: 4rem 0;
  margin-right: 6rem;
}

.hi {
  margin: 0;
  color: rgb(142, 172, 172);
  font-weight: bold;
}

.R__work {
  margin: 0;
  color: rgb(142, 172, 172);
  font-weight: bold;
}

.box {
  background-color: #493323;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  margin: 1.5rem 0;
  padding: 15px;
  color: #e2dddb
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.w__img {
  height: 150px;
  width: 130px;
  background-color: white;
  border-radius: 10px;
}

.w__title {
  // color: rgb(142, 172, 172);
  text-align: center;
}

.w__desc {
  text-align: center;
}

.w__side__1 {
  margin: auto;
  justify-content: center;
}

.w__side__2 {
  margin: auto;
}

.PP {
  margin: auto;
}


