/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    font-family: 'Montserrat-thin', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e2dddb;
    /* font-family: 'Bungee Shade', cursive;
    font-family: 'Gafata', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nosifer', cursive;
    font-family: 'Rock Salt', cursive; */
}