/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif; 
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e2dddb;
    color: #493323;
    /* font-family: 'Calistoga', cursive;
    
    font-family: 'Nosifer', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Yatra One', cursive; */
}