<div class="container-fluid">

    <!-- Title -->
    <div class="row top">
        <h1 class="title">Skills <span>&</span> Experience</h1>
    </div>

    <!-- Body -->
    <div class="row">
        <div class="col-md-6 pb-4">
            <div class="row work pb-4">
                <div class="col">
                    <div class="row">
                        <h3 style="padding-left: 15px;">Work Experience</h3>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"><p>2021 - Present</p></div>
                        <div class="col">
                            <div class="row"><h5>Software Development Intern</h5></div>
                            <div class="row"><span class="org">ADN Investcorp (Innov8-365 division)</span></div>
                            <div class="row">
                                <p class="exp__desc mt-2">Involved in a project where the maintenance and development of sub-systems were the main responsibilities in the job.</p>
                                <p class="exp__desc mt-2">
                                    <span>Ayoba - Develop Lighthouse Automation Software</span><br/>
                                    Ayoba is mobile application which allows users to develop and deploy SWA webApps on it. 
                                    In a team we developed software using Angular and PostgreSQL to ping the webApps on 
                                    a time frame to confirm they are live throughout. I was largely based on the frontend 
                                    development of it.
                                </p>
                                <p class="exp__desc mt-2">
                                    <span>Infleet 365 - Develop CRM Portal</span><br/>
                                    Infleet is a full ERP fleet management system. To simplify the complexity of the main 
                                    system, we had to design and develop a Customer Relation Management (CRM) Portal with 
                                    specific functionality per user by department. I am the lead design and work mostly on 
                                    the frontend using React and data provided by the pre-build APIs from the main system to
                                    talk with the backend.
                                </p>
                                <p class="exp__desc mt-2">
                                    I was also relied upon to come up with the software architecture of our projects assigned
                                    in terms of the structure, flow and design of the software developed. I got to be the lead
                                    designer/architect of both projects.s
                                    The job exposed me to the real world application of SDLC, including methodologies such as
                                    Agile, Scrum and related tools such as Slack and Azure DevOps.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row technologies">
                        tech
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row education">
                <div class="col">
                    <div class="row">
                        <h3 style="padding-left: 15px;">Education</h3>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"><p>2018 - 2020</p></div>
                        <div class="col">
                            <div class="row"><h5>BSc Computer Science & Business Computing</h5></div>
                            <div class="row"><span class="org">University of Cape Town</span></div>
                            <div class="row">
                                <p class="exp__desc mt-2" >
                                     Learned about advanced software development technologies and techniques in both the technical and business streams.
                                      2 of the 3 years involved a lot of team related work where we got to apply most of the theory learned, such that sometimes
                                       we were put in a space where we had to be innovative and <span>provide solutions for a client</span>.
                                </p>
                                <p class="exp__desc mt-2">Most of the work emphasized on
                                    building our <span>analytical and development skills</span> through the use of technologies such as <span>Java, Python, HTML&CSS</span>
                                     and the introduction and intermediate use of data visualisation tools such as <span>Tableau and Excel</span>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row technologies">
                        tech
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- - Used JavaScript and Typescript along with frameworks and libraries such as Angular, 
React, Bootstrap and Material on the front end with a connection to back end such 
as nodeJs and nestJs. 
- The use of databases such as postgresSQL and MongoDB were used on multiple tasks, 
although it wasn't my main play field as I was place more in the frontend part of things.
- Therefore, the use of APIs was also included, although they were already build 
prior to my appointment so I've been more involved with the implementation rather 
than the creation of the API's.  


- I Was also relied upon to come up with the software architecture of our projects assigned
 in terms of the structure, flow and design of the software developed. I got to be the lead
  designer/architect of both projects.
- The job exposed me to the real world application of SDLC, including methodologies such as
 Agile, Scrum and related tools such as Slack and Azure DevOps.
-->