<div class="container-fluid">

    <!-- Title -->
    <div class="row top" style="margin-bottom: 70px;">
        <h1 class="title">Skills <span>&</span> Experience</h1>
    </div>

    <!-- Body -->
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="row work pb-4">
                <div class="col">
                    <div class="row">
                        <h3 style="padding-left: 15px;">Work Experience</h3>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"><p>2021 - Present</p></div>
                        <div class="col">
                            <div class="row"><h5>Software Development Intern</h5></div>
                            <div class="row"><span class="org">ADN Investcorp (Innov8-365 division)</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row education pt-4">
                <div class="col">
                    <div class="row">
                        <h3 style="padding-left: 15px;">Education</h3>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"><p>2018 - 2020</p></div>
                        <div class="col">
                            <div class="row"><h5>BSc Computer Science & Business Computing</h5></div>
                            <div class="row"><span class="org">University of Cape Town</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>