<div class="container-fluid">

    <!-- Title -->
    <div class="row top">
        <h1 class="title">Skills <span>&</span> Experience</h1>
    </div>

    <!-- Body -->
    <div class="row">
        <div class="col-md-6 pb-4 pr-5">
            <div class="row work pb-4">
                <div class="col">
                    <div class="row">
                        <h3 style="padding-left: 15px;">Work Experience</h3>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"><p>September 2021 - Present</p></div>
                        <div class="col">
                            <div class="row"><h5>Software Developer</h5></div>
                            <div class="row"><span class="org">The Digital Academy</span></div>
                            <div class="row">
                                <p class="exp__desc mt-2">
                                    Involved in a project where the maintenance and development of client relation software 
                                    of an all in one application. Main responsibility being the automation of most of the 
                                    processes and building a robust client support system. Projects worked on include:
                                </p>
                                <p class="exp__desc mt-2">
                                    <span>Developer Portal:</span><br/>
                                    It is a pipeline web application that gives developers/business partners looking to 
                                    publish and manage their MicroApp (MicroApps are single purpose and cross-platform apps 
                                    designed to support a single step in a user's workflow.) on Ayoba.
                                </p>
                                <p class="exp__desc mt-2">
                                    <span>VOC Workflow:</span><br/>
                                    It is an internal workflow management application that enables the maintenance and 
                                    support system tools on MicroApps lifeline on Ayoba. Includes in-house tracking tools 
                                    for MicroApps heartbeats, generates a dashboard and reports on the activity of MicroApps 
                                    on the Ayoba platform and manages any support requests/events with developers/clients.
                                </p>
                                <p class="exp__desc mt-2">
                                    <span>Roles and Responsibilites</span><br/>
                                </p>
                                <div>
                                    <ol>
                                        <li>Refining the Vetting and OnBoarding (VOC) compliance flow.</li>
                                        <li class="item">Part of the team handling the client engagement and content.</li>
                                        <li class="item">Lead developer in the VOC workflow web app, where I participated in both the frontend & backend development.</li>
                                        <li class="item">Agile environment (Jira) with related ceremonies (sprint planning, sprint reviews)</li>
                                        <li class="item">Worked new interns by giving them exposure to the project and tracking their progress.</li>
                                        <li class="item">Collect, refine and store data in accordance to the business model.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row education pr-4 mt-5">
                <div class="col-3"><p>March 2021 - August 2021</p></div>
                <div class="col">
                    <div class="row"><h5>Software Development Intern</h5></div>
                    <div class="row"><span class="org">ADN Investcorp (Innov8-365 division)</span></div>
                    <div class="row">
                        <p class="exp__desc mt-2">
                            Involved in a project where the maintenance and development of sub-systems of a 
                            large ERP system were the main responsibilities in the job. The biggest part is 
                            the development of a Customer Relations Management Portal.
                        </p>
                        <p class="exp__desc mt-2">
                            <span>Infleet 365 - Develop CRM Portal</span><br/>
                            Infleet is a full ERP fleet management system. To simplify the complexity 
                            of the main system, we had to design and develop a Customer Relation Management 
                            (CRM) Portal with specific functionality per user by the department. I was the lead 
                            designer and work mostly on the frontend using React and using data provided by 
                            the pre-build APIs from the main system.
                        </p>
                        <p class="exp__desc mt-2">
                            <span>Roles and Responsibilites</span><br/>
                        </p>
                        <div>
                            <ol>
                                <li>Refining the Vetting and OnBoarding (VOC) compliance flow.</li>
                                <li class="item">Part of the team redesigning the CRM Portal for the ERP system</li>
                                <li class="item">Responsible for the maintenance of the report templates on the system (JSReports)</li>
                                <li class="item">Agile environment (Azure) with related ceremonies (daily scrum)</li>
                                <li class="item">Worked on the time synchronization of the docker containers of the projects to be user-based machine
                                    based rather than server based.
                                </li>
                                <li class="item">Used JavaScript and Typescript along with frameworks and libraries such as Angular, React, Bootstrap 
                                    and Material on the frontend with a connection to backend built on NodeJs
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="row education pr-4">
                <div class="col">
                    <div class="row">
                        <h3 style="padding-left: 15px;">Education</h3>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"><p>2018 - 2020</p></div>
                        <div class="col">
                            <div class="row"><h5>BSc Computer Science & Business Computing</h5></div>
                            <div class="row"><span class="org">University of Cape Town</span></div>
                            <div class="row">
                                <p class="exp__desc mt-2" >
                                     Learned about advanced software development technologies and techniques in both the technical and business streams.
                                      2 of the 3 years involved a lot of team related work where we got to apply most of the theory learned, such that sometimes
                                       we were put in a space where we had to be innovative and <span>provide solutions for a client</span>.
                                </p>
                                <p class="exp__desc mt-2">Most of the work emphasized on
                                    building our <span>analytical and development skills</span> through the use of technologies such as <span>Java, Python, HTML&CSS</span>
                                     and the introduction and intermediate use of data visualisation tools such as <span>Tableau and Excel</span>.</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row technologies">
                        tech
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- - Used JavaScript and Typescript along with frameworks and libraries such as Angular, 
React, Bootstrap and Material on the front end with a connection to back end such 
as nodeJs and nestJs. 
- The use of databases such as postgresSQL and MongoDB were used on multiple tasks, 
although it wasn't my main play field as I was place more in the frontend part of things.
- Therefore, the use of APIs was also included, although they were already build 
prior to my appointment so I've been more involved with the implementation rather 
than the creation of the API's.  


- I Was also relied upon to come up with the software architecture of our projects assigned
 in terms of the structure, flow and design of the software developed. I got to be the lead
  designer/architect of both projects.
- The job exposed me to the real world application of SDLC, including methodologies such as
 Agile, Scrum and related tools such as Slack and Azure DevOps.
-->